/* Responsive changes */
@media (max-width: 1440px) {	
	.yoggychar{
		left:auto;
		right:50px;
	}
} 
@media (max-width: 1100px) {	
	.yoggychar{
		left:auto;
		right:0;
	}
} 

@media only screen and (max-width: 800px) {
	.col-content,.col-sidebar,.col1,.col2,.col3,.col4,.col5,.col6{
		float:none;
		clear:both;
		width:100%;
	}
	.judul{
		display:none;
	}
	.searchBox input[type=text]{
		width:100px;
	}
	.searchBox span{
		display: inline-block;
		line-height: 30px;
	}
	.searchBox div,.shortTable div{
		margin:0 10px 0 0 !important;
	}
	.pure-form .pure-input-2-3{
		width:100%;
	}
	.pure-form select{
		width:100%;
	}
	.pure-form select#state{
		width:auto;
	}
	#sidebar,.fakesidebar{
		width:65px;
	}
	.navName,#navbar a.collapse{
		display:none;
	}
	#thecontent{
		margin:65px 0 0 65px;
	}
	.icon-arrow-left2:before {
		content: "\e72a";
	}
}
@media only screen and (max-width: 979px) {
	
}
@media (max-width: 500px) {
    
}
@media (max-width: 480px) {
	#dashreport .col3{
		width:auto;
	}
	#dashreport .box{
		padding:20px 0;
	}
	.content{
		padding:0;
	}
	#wizard .steps li, .ui-tabs-nav li{
		float:none;
	}
	#wizard .steps li a, .ui-tabs-nav li a{
		border-radius:0;
	}
	.boxcontent, .ui-tabs-panel{
		padding:10px;
	}
	.searchBox{
		float:none;
		padding:10px 0;
		overflow:hidden;
		clear:both;
	}
	.titlebox h2{
		font-size:14px;
	}
}